/* Trainline Colors */
/*
Brand Mint: #01C3A7
Brand Navy: #213214D
Brand Coral: FF585F
Brand Yellow ("kevin"): #FFBD24
*/

@font-face {
  font-family: trainline;
  src: url(https://static.trainlinecontent.com/content/WEB/fonts/tl-circular-1.0.1/TLCircular-Bold.woff2);
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000000;
}

#header {
  background-image: url('./images/tube-bg-sm.jpg');
  background-repeat: no-repeat;
  background-position: 'center';
  padding: 3em 0 10em 0;
  height: 100vh;
}

#header h1 {
  font-family: trainline, Arial, Helvetica, sans-serif;
  font-size: 3.4rem;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 5px;
}
#header h2 {
  font-family: trainline, Arial, Helvetica, sans-serif;
  font-size: 2.7rem;
  color: #ffbd24;
  margin-top: 5px;
}

.inner {
  margin-top: 5%;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: rgba(33, 49, 77, 0.8);
}

.inner .intro p {
  font-size: 1.375rem;
  line-height: 28px;
  color: #ffffff;
}

address {
  font-size: 1.375rem;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}

.intro a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin: 15px;
}

.intro .btn:hover {
  background-color: #017564;
}
.intro .btn {
  text-align: center;
  width: 200px;
  color: #ffffff;
  background-color: #01c3a7;
  border: none;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  font-family: trainline, Arial, Helvetica, sans-serif;
}

.place {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
