// colors

$event-color-2: rgb(51.4%, 82.7%, 78.8%);
$event-color-1: rgb(53, 67, 82); 
$event-color-3: rgb(124, 124, 124); 
$event-color-4: rgb(250, 211, 119); 
$event-color-5: rgba(29.4%, 58.8%, 97.3%, 1);

$text-color: #222222;
$border-color: #eaeaea;
$bg-color: white;
$link-color: rgba(12.9%, 19.2%, 30.2%, 1);
$number-of-list-items-in-timeline: 17;

// fonts

$primary-font: 'TLCircular-Book', 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 4;
$row-height: 100px;
